.header {
  margin: 0 6% 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.grateful {
  display: inline-block;
  color: #fff;
  font-size: 18px;
  background-color: wheat;
  padding: 4px 40px;
  color: black;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.playground {
  background-color: rgba(225, 255, 255, 0.8);
}
.puzzle {
  border: 1px solid #000;
}
.piece-word {
  display: inline-block;
  border: 1px solid #000;
  padding: 2px 10px;
  background: #da9836;
  margin-right: 10px;
  user-select: none;
  cursor: pointer;
}
