.header {
  margin: 0 6% 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.grateful {
  display: inline-block;
  color: #fff;
  font-size: 18px;
  background-color: wheat;
  padding: 4px 40px;
  color: black;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.playground {
  background-color: rgba(125, 155, 155, 0.8);
}
.puzzle {
  border: 1px solid #000;
  margin-bottom: 20px;
}
.card-word {
  display: inline-block;
  border: 1px solid #a71;
  padding: 2px;
  background: #eb5;
  text-align: center;
  user-select: none;
  cursor: pointer;
  transition: all .3s;
}
.card-word:hover {
  background: #b82;
  color: #fff;
}

.card-on-desk {
  animation: slide-down .3s ease-in-out 1 forwards;
}
.card-on-puzzle {
  animation: slide-up .3s ease-in-out 1 forwards;
}


@keyframes slide-up {
  from { transform: translateY(100%) }
  to {   transform: translateY(0)    }
}
@keyframes slide-down {
  from { transform: translateY(-100%) }
  to {   transform: translateY(0)     }
}