body {
  font-family: Arial, sans-serif;
  height: 100vh;
}
.login__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}
.login__form {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
}
.login__title {
  text-align: center;
}
.form__group {
  margin-bottom: 15px;
  width: 100%;
}
.form__label {
  display: block;
  font-weight: bold;
}
.form__input {
  width: 100%;
  padding: 10px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.form__input--error {
  border: 1px solid #a00;
}
.form__error-message {
  padding: 4px 0;
  font-size: 15px;
  color: #a00;
}
.login__submit {
  text-align: center;
  display: block;
  margin: 0 auto;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}