body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
}

.keyboard {
	width: 580px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-color: #f2f2f2;
	padding: 16px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.key {
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(0deg, rgb(88, 88, 88), rgb(154, 153, 158));
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
	margin: 5px;
	width: 50px;
	height: 50px;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
	user-select: none;
}
.key:hover {
	background-color: #f2f2f2;
}

input[type="text"] {
	display: block;
	margin: 20px auto;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 20px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

#termLine {
	display: flex;
	justify-content: center;
	gap: 4px;
	margin-bottom: 20px;
}
#clueLine {
	margin-bottom: 20px;
	text-align: center;
	font-size: 20px;
}
.term__letter {
	border: 1px solid #bbb;
	border-radius: 6px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2.4rem;
	height: 3.4rem;
	font-size: 26px;
	font-weight: bold;
}