/* @import url('https://fonts.cdnfonts.com/css/inter'); */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v13-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/inter-v13-latin-600.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/inter-v13-latin-700.woff2') format('woff2');
}@font-face {
  font-display: swap;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/manrope-v15-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/manrope-v15-latin-700.woff2') format('woff2');
}

:root{
  --text-dark: #403F3D;
  --text-light: #E1D4C9;
  --text-hover: #B0907A;
  --background-body: #E1D4C9;
  --background-footer: #665F55;
  --background-container: #665F55;
  --border-dark: #665F55;
  --border-light: #C1B6AD;
  --button-hover: #665F55;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  border: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  font-family: 'Inter';
  text-rendering: optimizeSpeed;
  color: var(--text-dark);
  background-color: var(--background-body);
}


.container {
  max-width: 1440px;
  padding: 20px 40px 40px;
  margin: 0 auto;
  background: var(--background-body);
}
.hidden {
  display: none;
}
.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0)
} /* doesn't harm SEO */
._bottom-hover::after {
  position: absolute;
  content: '';
  display: block;
  height: 2px;
  width: 0%;
  left: 50%;
  bottom: -2px;
  transform: translateX(-50%);
  background-color: var(--text-dark);
  transition: all .3s;
}
._bottom-hover-l::after {
  background-color: var(--text-light);
}



/*** *** *** *** *** BUTTONS *** *** *** *** ***/
.buttons__container {
  display: flex;
  gap: 20px;
}
.button {
  width: 200px;
  padding: 20px;
  border-radius: 100px;
  line-height: 150%;
  cursor: pointer;
  font-weight: 600;
  color: var(--text-dark);
  background: var(--background-body);
  transition: all .3s;
}
.button--transparent {
  position: relative;
  padding: 12px 20px 12px 64px;
  border: 1px solid var(--border-dark);
  display: flex;
  flex-direction: column;
  transition: all .3s;
}

.button__title {
  font-size: 10px;
  font-weight: 600;
  line-height: 140%;
}
.button__subtitle {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}
.button-icon {
  position: absolute;
  left: 20px;
}
.button--to-menu {
  display: block;
  text-align: center;
  position: relative;
}
.button--to-menu span {
  content: url(../img/icons/coffee-cup.svg);
  position: absolute;
  display: block;
  top: 50%;
  left: 58%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  opacity: 0;
  transition: all .3s;
}






/*** *** *** *** *** HEADER *** *** *** *** ***/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 16px;
}

.nav {
  margin-top: -7px;
  font-weight: 600;
}
.nav__list {
  display: flex;
  gap: 40px;
}
.nav__link {
  padding-bottom: 5px;
  transition: all .3s;
  position: relative;
}

.header__button {
  margin-top: -4px;
  background: transparent;
}
.header__link {
  padding-right: 28px;
  padding-bottom: 4px;
  position: relative;
  font-weight: 600;
  line-height: 150%;
  border-bottom: 2px solid transparent;
  transition: all .3s;
}
.header__link::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  right: -1px;
  top: -2px;
  background: url(../img/icons/coffee-cup.svg);
}
.non-interactive::after {
  position: absolute;
  content: '';
  display: block;
  height: 2px;
  width: 100%;
  left: 50%;
  bottom: -2px;
  transform: translateX(-50%);
  background-color: var(--text-dark);

}



.non-interactive {
  border-bottom: 2px solid var(--text-dark);
  cursor: default;
}

.header__burger-button {
  display: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid var(--border-dark);
  background-color: transparent;
  cursor: pointer;
}



/*** SECTION ***/
.main-title {
  margin-bottom: 40px;
  color: var(--text-light);
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
}
.section__title {
  margin-bottom: 40px;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
}
.section__subtitle {
  margin-top: -2px;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}
.title--special {
  color: #B0907A;
  /* font-style: oblique -20deg; */
  font-style: italic;
}
.section__text {
  color: var(--text-light);
  margin-bottom: 41px;
  line-height: 150%;
}
.section__text--dark {
  color: var(--text-dark);
}



/*** 1 - ENJOY ***/
.enjoy {
  padding: 100px;
  border-radius: 40px;
  background: url(../img/backgrounds/background-primary.jpg);
}
.enjoy-container {
  max-width: 530px;
  width: 100%;
}





/*** 2 - FAVORITE ***/
.favorite {
  padding: 100px 0;
  text-align: center;
}


.slider {
  position: relative;
}
.slider__image {
  max-width: 480px;
  width: 100%;
  height: auto;
  margin-bottom: 16px;
}
.slider__arrows-block {
  position: absolute;
  width: 100%;
  top: 42.5%;
  display: flex;
  justify-content: space-between;
}
.slider__arrow {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid var(--border-dark);
  background: transparent;
  cursor: pointer;
  transition: all .3s;
}
.slider__arrow--prev {
  left: 4px;
}
.slider__arrow--next {
  right: 4px;
}
.product__info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 480px;
  width: 100%;
  margin: 0 auto 40px;
}
.product__name,
.product__price {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}
.product__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.pagination__block {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.pagination__item {
  cursor: pointer;
  width: 40px;
  height: 4px;
  background-color: var(--border-light);
  transition: all .2s;
}
.pagination__item--current {
  background-color: var(--border-dark);
}




/*** ABOUT **/
.about {
  margin-bottom: 100px;
}
.gallery__container {
  display: flex;
  gap: 40px;
}
.gallery__block {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.gallery__photo {
  border-radius: 20px;
  background-size: 110%;
  background-position: center;
  background-repeat: no-repeat;
  transition: .5s all ease-in-out;
  /* background-size: cover; */
}
.gallery__photo--1 {
  height: 590px;
  background-image: url(../img/coffee-gallery/photo-1.jpg);
}
.gallery__photo--2 {
  height: 430px;
  background-image: url(../img/coffee-gallery/photo-2.jpg);
}
.gallery__photo--3 {
  height: 430px;
  background-image: url(../img/coffee-gallery/photo-3.jpg);
}
.gallery__photo--4 {
  height: 590px;
  background-image: url(../img/coffee-gallery/photo-4.jpg);
}








/*** APPLICATIONS ***/
.applications {
  display: flex;
  gap: 100px;
  margin-bottom: 100px;
}
.applications__block {
  width: 100%;
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.applications__img {
  max-width: 630px;
  width: 100%;
}








/*** FOOTER ***/
.footer {
  display: flex;
  gap: 100px;
  padding: 100px;
  border-radius: 40px;
  color: var(--text-light);
  background: var(--background-footer);
}
.footer__block {
  flex: 0 1 50%;
}




.social__list {
  display: flex;
  gap: 12px;
}
/* .social__item {} */
.social__link {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid var(--border-light);
  transition: all .3s;
}

.contacts {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contacts__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* .contacts__item {} */
.contacts__link {
  position: relative;
  padding-left: 28px;
  padding-bottom: 4px;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  /* border-bottom: 2px solid transparent; */
  cursor: default;
  transition: all .3s;
}
.contacts--location, 
.contacts--phone {
  cursor: pointer;
  transition: all .3s;
}


.contacts--location::before {
  position: absolute;
  content: '';
  left: 0;
  width: 20px;
  height: 20px;
  background: url(../img/contacts/pin-alt.svg);
}
.contacts--phone::before {
  position: absolute;
  content: '';
  left: 0;
  width: 20px;
  height: 20px;
  background: url(../img/contacts/phone.svg);
}
.contacts--clock::before {
  position: absolute;
  content: '';
  left: 0;
  width: 20px;
  height: 20px;
  background: url(../img/contacts/clock.svg);
}



















/* MENU */
.section__title--menu-page {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}
.menu__tabs {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 40px;
}

.menu__tab {
  display: flex;
  gap: 6px;
  padding: 7px 16px 7px 8px;
  border-radius: 100px;
  border: 1px solid var(--border-light);
  cursor: pointer;
}

.menu__category-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--border-light);
}
.menu__category-name {
  font-size: 16px;
  font-weight: 600;
  /* line-height: 150%;  */
  line-height: 30px; 
  color: var(--text-dark);
}


.menu__tab {
  transition: all .3s;
}

/* active */
.menu__tab--active {
  border: 1px solid transparent;
  background: var(--background-container);
  cursor: default;
}
.menu__tab--active .menu__category-wrap {
  background: var(--background-body); 
}
.menu__tab--active .menu__category-name {
  color: var(--text-light);
}


.coffee-on-offer {
  display: flex;
  flex-wrap: wrap;
  gap: 38px 40px;
  /* flex: 0 1 25%; */
  margin-bottom: 98px;
}

.on-offer__card {
  width: 310px;
  min-height: 506px;
  border-radius: 40px;
  border: 1px solid var(--border-light);
  cursor: pointer;
}

.on-offer__info {
  height: 196px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.on-offer__name {
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}
.on-offer__price {
  margin-top: 12px;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;

}
.on-offer__description {
  /* min-height: 72px; */
  /* margin-bottom: 12px; */
  margin-bottom: auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.on-offer__image--coffee-1 {background: url(../img/menu/coffee-1.png);}
.on-offer__image--coffee-2 {background: url(../img/menu/coffee-2.png);}
.on-offer__image--coffee-3 {background: url(../img/menu/coffee-3.png);}
.on-offer__image--coffee-4 {background: url(../img/menu/coffee-4.png);}
.on-offer__image--coffee-5 {background: url(../img/menu/coffee-5.png);}
.on-offer__image--coffee-6 {background: url(../img/menu/coffee-6.png);}
.on-offer__image--coffee-7 {background: url(../img/menu/coffee-7.png);}
.on-offer__image--coffee-8 {background: url(../img/menu/coffee-8.png);}
.on-offer__image--tea-1 {background: url(../img/menu/tea-1.png);}
.on-offer__image--tea-2 {background: url(../img/menu/tea-2.png);}
.on-offer__image--tea-3 {background: url(../img/menu/tea-3.png);}
.on-offer__image--tea-4 {background: url(../img/menu/tea-4.png);}
.on-offer__image--dessert-1 {background: url(../img/menu/dessert-1.png);}
.on-offer__image--dessert-2 {background: url(../img/menu/dessert-2.png);}
.on-offer__image--dessert-3 {background: url(../img/menu/dessert-3.png);}
.on-offer__image--dessert-4 {background: url(../img/menu/dessert-4.png);}
.on-offer__image--dessert-5 {background: url(../img/menu/dessert-5.png);}
.on-offer__image--dessert-6 {background: url(../img/menu/dessert-6.png);}
.on-offer__image--dessert-7 {background: url(../img/menu/dessert-7.png);}
.on-offer__image--dessert-8 {background: url(../img/menu/dessert-8.png);}

.on-offer__image {
  width: 100%;
  height: 310px;
  border-radius: 40px;
  background-size: 110%;
  background-position: center;
}
.on-offer__card .on-offer__image {
  transition: .5s all ease-in-out;
}
.show-more__block {
  display: none;
  margin-bottom: 100px;
}
.show-more__btn {
  display: block;
  margin: 0 auto;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid var(--border-dark); 
  background: url(../img/icons/refresh.svg) center no-repeat;
  cursor: pointer;
}

.header__nav {
  width: 100%;
  display: flex;
  margin-top: -4px;
}
.nav {
  margin: -3px auto 0;
}

@media (min-width: 769px) {
  ._bottom-hover:hover::after{
    width: 100%;
  }
  .button--transparent:hover {
    color: var(--text-light);
    background-color: var(--button-hover);
  }
  .button--transparent:hover .button-icon {
    fill: var(--text-light);
  }
  .button--to-menu:hover {
    padding-right: 49px;
  }
  .button--to-menu:hover span {
    opacity: 1;
  }
  .slider__arrow:hover {
    background: var(--border-dark);
  }
  .slider__arrow:hover svg{
    stroke: var(--background-body);
  }
  .pagination__item:hover {
    background-color: var(--border-dark);
  }
  .gallery__photo:hover {
    background-size: 100%;
  }
  .menu__tab:hover {
    background: var(--background-container);
    border: 1px solid transparent;
  }
  .menu__tab:hover .menu__category-name {
    color: var(--text-light);
  }
  .menu__tab:hover .menu__category-wrap {
    background: var(--background-body); 
  }
  .on-offer__card:hover .on-offer__image {
    background-size: 101%;
  }
  .social__link:hover {
    background: var(--background-body);
  }
  .social__link:hover svg{
    stroke: var(--text-dark);
  }
}


@media (max-width: 1440px) {
  .enjoy {
    background-size: cover;
    background-position: center;
  }
  .coffee-on-offer {
    justify-content: space-around;
  }
  .on-offer__card {
    flex: 1 1 auto;
    max-width: 310px;
    width: 100%;
  }
  .gallery__photo {
    background-size: auto;
  }
  .gallery__photo:hover {
    background-size: auto;
  }
}

@media (max-width: 768px) {
  .header__burger-button {
    display: block;
  }
  .header__nav {
    display: block;
    position: absolute;
    top: 100px;
    left: 0;
    width: 0%;  /*Было 100%*/
    height: 0px;
    background-color: var(--background-body);
    transition: all .5s;
    opacity: 0;
    user-select: none;
    visibility: hidden;
  }
  .header__nav--active {
    /* display: block; */
    height: 800px;
    opacity: 1;
    visibility: visible;
    z-index: 2;
  }
  .nav__list {
    flex-direction: column;
    text-align: center;
    margin-top: 67px;
    margin-bottom: 120px;
    font-size: 32px;
  }
  .header__button {
    display: flex;
    justify-content: center;
    transform: scale(2);
  }
  .nav__list {
    gap: 61px;
  }
  .header__link::before {
    top: 2px;
  }
  

  .enjoy {
    padding: 100px 60px;
  }
  .button--to-menu {
    padding-right: 49px;
  }
  .button--to-menu span {
    opacity: 1;
  }
  .slider__arrows-block {
    width: 101.1%;
    margin-left: -4px;
  } /* pixel perfect */
  .gallery__container {
    display: block;
  }
  .gallery__block {
    flex: 1 0 auto;
    margin-bottom: 40px;
  }
  .gallery__photo {
    height: 590px;
    background-size: cover;
  }
  .gallery__photo:hover {
    height: 590px;
    background-size: cover;
  }
  .gallery__photo--2,
  .gallery__photo--3 {
    display: none;
  }
  .applications {
    display: block;
  }
  .buttons__container {
    margin-bottom: 100px;
  }
  .applications__img {
    margin-left: 30px;
  }
  .footer {
    display: block;
    padding: 100px 60px 102px;
  }
  .social__list {
    margin-bottom: 102px;
  }
  .show-more__block {
    display: block;
  }
  .coffee-on-offer {
    display: flex;
    flex-wrap: wrap;
    gap: 38px 15px;
    /* flex: 0 1 50%; */
    margin-bottom: 38px;
  }
  .on-offer__card {
    margin: 0 auto;
  }
  .hidden--768 {
    display: none;
  }
}

@media (max-width: 640px) {

  .main-title {
    font-size: 42px;
    line-height: 115%;
  }
  .section__title {
    font-size: 32px;
    line-height: 125%;
  }
  .buttons__container {
    display: block;
  }
  .button--app-store {
    margin-bottom: 20px;
  }
}

@media (max-width: 380px) { 
  .section__text {
    margin-bottom: 39px;
  }
  .container {
    /* max-width: 1440px; */
    padding: 20px 16px;
    /* margin: 0 auto; */
    /* background: var(--background-body); */
  }
  .enjoy {
    padding: 60px 16px;
    background-size: cover;
    background-position: center;
  }
  .slider__image {
    margin-bottom: 16px;
  }
  .slider__arrows-block {
    display: none;
  }
  .buttons__container {
    margin-bottom: 40px;
  }
  .applications__img {
    margin-left: 0;
  }
  .footer {
    padding: 60px 16px 62px;
  }
  .social__list {
    margin-bottom: 44px;
  }

  .menu__tabs {
    gap: 9px;
  }
  .coffee-on-offer {
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 38px;
  }
  .on-offer__card {
    margin: 0 auto;
  }
}











.header__burger-button {
  margin-top: -4px;
  padding-left: 13px;
}
.header__burger-button [class*='bar-'] {
  background: #403F3D;
  display: block;
  height: 1px;
  width: 16px;
  margin-bottom: 8px;
  transform: rotate(0deg);
  transition: .3s all ease;
}
.header__burger-button .bar-bot {
  margin-bottom: 0;
}
.opened .bar-top {
  transform: rotate(45deg);
  transform-origin: 15% 15%;
  width: 19px;
}
.opened .bar-bot {
  transform: rotate(-45deg);
  transform-origin: 15% 95%;
  width: 19px;
}